@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background:  linear-gradient( to right,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),url('/bg.jpg');
  background-size: cover;
}
